.d3-container{
  position:relative;
  top:10px;
  overflow: auto;
}
.d3-container .axis path,
.d3-container .axis line{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.d3-container .axis text {
  font-family: sans-serif;
  font-size: 11px;
}

/*.MyRect {
  fill: steelblue;
}*/

.MyText {
  fill: white;
  text-anchor: middle;
}
